<html lang="en">
  <head>
    {{> standard_headers}}
    <link type="text/css" rel="stylesheet" href="content-layout.css" />
  </head>
  <body>
    <main data-testid="app-express">
      <div class="app-container">
        <div class="container spacing-32">
          <img src="pebbles-min.png" width="144" />
          <div class="content">
            {{{body}}}
          </div>
          <img src="uzh-min.png" width="144" />
        </div>
      </div>
    </main>
  </body>
</html>
